:root{
    --green: #009B4D;
    --yellow: #FFCC00;
    --ivory: #FAF5E9;
    --primary-dark: #141414cc;
}

/* my library> */
.display-grid{
    display: grid;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.width-100{
    width: 100%;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-10{
    border-radius: 10px;
}
.user-select{
    user-select: none;
}
/* <my library */

/* for common tags>*/
.delete-button{
    position: relative;
    height: 100%;
    width: 30px;
    background-color: inherit;
    cursor: pointer;
}
.delete-button .delete-button-line{
    position: absolute;
    top: 0;
    left: 44%;
    transform: translateX(-50%);
    height: 100%;
    width: 5px;
    background-color: var(--green);
    border-radius: 3px;
}
.delete-button .delete-button-line:nth-child(1){
    transform: rotate(45deg);
}
.delete-button .delete-button-line:nth-child(2){
    transform: rotate(-45deg);
}
.c-yellow{
    color: var(--yellow);
}
.c-ivory{
    color: var(--ivory);
}
.c-green{
    color: var(--green);
}
.bc-yellow{
    background-color: var(--yellow);
}
.bc-ivory{
    background-color: var(--ivory);
}
.bc-green{
    background-color: var(--green);
}
.primary-text-shadow{
    text-shadow: 2px 2px 3px var(--primary-dark);
}

.smaller-text-size{
    font-size: 14px;
    font-weight:200;
    font-family: 'young-serif-400';
}

.standard-text-size{
    font-size: 16px;
    font-weight:400;
    font-family: 'young-serif-400';
}
/* <for common tags*/
body{
    position: relative;
}
.main-wrapper{
    grid-template-columns: 20% 55% 25%; 
    place-items: stretch;
}
.main-wrapper > .user-navigation{
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--yellow) 30%, var(--green));
    padding: 10px 0;
}
.main-wrapper > .user-navigation > .user-navigation-inner-wrapper{
    width: 93%;
    row-gap: 2%;
}
.main-wrapper > .user-navigation > .user-navigation-inner-wrapper > .user-add-section {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0.5em;
    height: 45px;
}
.user-add-section input{
    text-align: center;
    border: 2px solid white;
    width: 100%;
    background-color: var(--ivory);
    color: var(--green);
}
.user-add-section input::placeholder{
    color: var(--green);
}
.user-add-section button{
    cursor: pointer;
    background-image: url('../images/user-navigation-images/plus-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--ivory);
}
.name-warning{
    text-align: center;
    font-size: large;
    color: red;
}
.main-wrapper > .user-navigation > .user-navigation-inner-wrapper > .users-list{
    height: 100%;
    padding: 10px 0 10px 0;
    row-gap: 1%;
    background-color: inherit;
    overflow-y:scroll;
    scroll-behavior: smooth;
    border-top: 2px dashed black;
    
}
.user-navigation-inner-wrapper > .users-list::-webkit-scrollbar{
    width: 10px;
    padding: 2px;
    background-color: inherit;
}
.main-wrapper > .user-navigation > .user-navigation-inner-wrapper > .users-list::-webkit-scrollbar-thumb{
    background-color: rgb(113, 122, 130);
    border-radius: 4px;
}
.user-navigation-inner-wrapper > .users-list .user{
    width: 95%;
    padding: 8px 10px;
    background-color: var(--ivory);
    border: 1px solid var(--green);
    border-radius: 5px;
    /* box-shadow: 0px 1px 1px 1px var(--primary-dark); */
}
.user-navigation-inner-wrapper > .users-list .user .user-brief-info{
    max-width: 80%;
}
.user-navigation-inner-wrapper > .users-list .user .user-brief-info h2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.about-section{
    margin-bottom: 10px;
    font-family: 'young-serif-400';
    cursor: pointer;
}
.about-modal{
    row-gap: 1em;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 45%;
    transform: translateX(-50%) translateY(100%);
    padding: 1em;
    background-color: var(--ivory);
    border-radius: 1em;
    transition: all 0.3s linear;
    overflow: hidden;
}
.about-modal-animation-div{
    transition: all 0.3s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--yellow);
}
.about-modal-animation-div.active{
    animation: aboutModalAnimation 0.5s linear 0.2s 1 normal forwards;
}
.about-modal-paragraph{
    row-gap: 0.5em;
}
.BMI-list{
    margin-left: 15px;
    list-style-type: decimal;
}










.main-wrapper > .main-stream{
    background-color: red;
}
.main-wrapper > .bmi-section{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: yellow;
}
